# Swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Packer
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Terraform
# Local .terraform directories
terraform/**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Private backend and remote_state files; They contain no secrets but terraform blocks
# don't support vars. remote_state is excluded too but a sample is provided 
**/backend.tf
**/remote_state.tf

# Private tfvars file
**/priv.tfvars

# Crash log files
terraform/**/crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
terraform/**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
**/*tfplan*
